{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>3D Printanje</title>
</head>

<body>
    <div class="hero">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./">
                    <img src="{% static 'Assets/3Dprinter.png' %}" alt="" width="50" height="50"
                        class="d-inline-block align-text-top logo">
                </a>
                <span class="navbar-text">


                    {% if user.is_authenticated %}
                    <p> <i>Your name : {{ user.username }}</i> <a href="/logout"><button class="btn btn-secondary" type="button">Logout</button></a></p>
                    
                    {% else %}  
                    <a href="/accounts/login"><button class="btn btn-light btn-outline-primary" type="button">Login</button></a>
                    <a href="/register"><button class="btn btn-primary" type="button">Register</button></a>
                    {% endif %}
                </span>
            </div>
        </nav>
    </div>


    <section class="main">
        <h2 class="PrintPlast">Printers and plastic</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="imgWrapl">

                        <a href="/SviPrinteri"><img class="mainImg" src="{% static 'Assets/3Dprinter.png' %}"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="imgWrapr">

                        <a href="/SvaPlastika"><img class="mainImg" src="{% static 'Assets/Filament.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>